<h1>Eat Da Burgers!!</h1>

<ul>
    {{#each burgers}} {{#unless devoured}}
    <p>needs to be eaten</p>
    {{/unless}} {{/each}}
</ul>

<ul>
    {{#each burgers}} {{#if devoured}}
    <p>eaten!</p>
    {{/if}} {{/each}}
</ul>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
    </div>
    <button type="submit">Add Burger</button>
</form>